/*******************
  GENERAL SETTINGS
*******************/
/* General */
* { box-sizing: border-box; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/* Underline Reveal */
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0297E1;
  height: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.variable { display: none; }


/***************
     FOOTER
****************/
/* Footer */
footer.page-footer .row { margin-bottom: 0px !important; }
footer.page-footer { background-color: #212B3A; }
footer.page-footer .foot h5 { color: #FFF;  }
footer.page-footer .foot li { margin-bottom: 5px; }
footer.page-footer .foot li a { color: #BCC3CB; }
footer.page-footer .foot li a:hover { color: #FFF; }

footer.page-footer .foot .img { text-align: center; }

footer.page-footer .foot .img li {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
}

footer.page-footer .foot .img img {
  width: 220px;
  vertical-align: middle;
  margin-top: 50px;
}

/* Footer Copyright */
footer.page-footer .footer-copyright span { color: red; }
footer.page-footer .footer-copyright a { color: #BCC3CB; }

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  color: #BCC3CB;
  font-size: 13px;
  background-color: #1A222D;
  font-weight: 500;
}


/***************
  MAIN NAVBAR
****************/
  /* Site nav */
  #site body { background: #FFF !important; }
  #site #main nav { background: #FFF !important; }
  #site #main nav ul li a  { color: #2A3036; }
  #site #main nav ul li a span.number { margin-left: 3px; font-weight: bold; }
  #site #main nav .button-collapse i { color: #2A3036; }

  #site #main nav .right .btn {
    background: #02A4F5 !important;
    color: #FFF !important;
  }

  #site #main nav .right .btn:hover { background: #0297E1 !important; }
  #site #main nav .right .btn i { color: #FFF; }
  #site #main nav .right i { color: #55626D; }

  /* App nav */
  #app body { background: #F6F8FA !important; }
  #app #main nav { background: #02A4F5 !important; }
  #app #main nav ul li a  { color: #FFF; }
  #app #main nav ul li a span.number { margin-left: 3px; font-weight: bold; }
  #app #main nav .button-collapse i { color: #FFF; }

  #app #main nav .right .btn {
    background: #028ACE !important;
    color: #FFF !important;
  }

  #app #main nav .right .btn:hover { background: #0297E1 !important; }


/* Main nav Properties */
#main nav {
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  padding: 0px 20px;
}

#main nav ul li a {
	font-size: 13px;
	font-weight: 500;
  padding: 0 8px;
  text-transform: capitalize;
}

#main nav ul li a:hover {
  background: none !important;
}

#main nav .brand img {
  vertical-align: middle;
  width: 170px;
  margin-left: 10px;
}

#main nav ul.right {
  vertical-align: middle;
}

#main nav ul.right .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0rem;
	height: 34px;
	font-size: 12px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  width: 90px;
  background: none;
}

#main nav .right .btn i {
  font-size: 22px !important;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 15px;
  margin-right: -10px;
}

/* Dropdown Options */
#main nav .right .dropdown-options img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}

#main nav .right .dropdown-options i {
  font-size: 20px;
  margin-left: 3px;
}

#main nav .right #drop {
  min-width: 150px !important;
}

#main nav .right #drop li {
  min-height: 45px !important;
  line-height: 45px !important;
}

#main nav .right #drop li:hover {
  background: #FAF6FE !important;
}

#main nav .right #drop li > a {
  font-size: 13px !important;
  color: #505050 !important;
  font-weight: normal !important;
  line-height: 45px !important;
  margin-left: 16px;
}

/* Dropdown Notifications */
#main nav .right .dropdown-notifications i {
  font-size: 20px;
}

#main nav .right .dropdown-notifications span {
  font-weight: bold;
}

#main nav .right #notifications {
  min-width: 210px !important;
}

#main nav .right #notifications .nothing  {
  text-align: center;
}

#main nav .right #notifications .nothing i {
  color: #E8E9EB;
  font-size: 50px;
  margin-top: 10px;
}

#main nav .right #notifications .nothing li.alert {
  min-height: 35px !important;
  line-height: 35px !important;
  color: #B2B7BE;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: default;
  background: none !important;
}

#main nav .right #notifications li {
  min-height: 30px !important;
  line-height: 30px !important;
}

#main nav .right #notifications li:hover {
  background: #FAF6FE !important;
}

#main nav .right #notifications li > a {
  font-size: 13px !important;
  color: #505050 !important;
  font-weight: normal !important;
  line-height: 35px !important;
  margin-left: 8px;
  text-transform: none;
}

#main nav .right #notifications li a span.time {
  font-size: 12px;
}

/* Color */
/*
#main nav .right #notifications li.string span.new-space { border-left: 5px solid #1ADB78; }
#main nav .right #notifications li.string span.new-workspace { border-left: 5px solid #FFD006; }
#main nav .right #notifications li.string span.new-parking { border-left: 5px solid #A05DEC; }
#main nav .right #notifications li.string span.new-service { border-left: 5px solid #FE5956; }
*/
#main nav .right #notifications li.view-all {
  min-height: 20px !important;
  line-height: 20px !important;
}

#main nav .right #notifications li.view-all a {
  font-size: 13px !important;
  line-height: 20px !important;
  text-align: center;
  color: #02A4F5 !important;
  margin: 10px 0px;
}

/* Main side nav properties */
#main nav .side-nav .guest-menu {
  background: #02A4F5 !important;
  border-top: 6px solid #0297E1;
  width: 100%;
}

#main nav .side-nav .guest-menu img {
  width: 160px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#main nav .side-nav .user-menu {
  background: #02A4F5 url("/img/app/back.png");
  background-size: 180px;
  background-repeat: repeat;
  width: 100%;
}

#main nav .side-nav .user-menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 0px 0px 30px;
}

#main nav .side-nav li {
  padding: 0px 15px !important;
  margin: 0px !important;
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
}

#main nav .side-nav li:hover {
  background: #F1F1F1 !important;
}

#main nav .side-nav li a {
  line-height: 50px;
  height: 50px;
  color: #3B444C !important;
}

#main nav .side-nav li a i {
  line-height: 50px;
  height: 50px;
  padding: 0px !important;
  color: #55626D;
  font-size: 20px;
  vertical-align: middle;
}

#main nav .side-nav li a span {
  float: right;
}

#main nav .side-nav p.etiquette {
  color: #667583;
  height: 12px;
  line-height: 12px;
  margin-left: 14px;
}

#options .navbar-fixed {
  z-index: 997;
}

#options nav {
  background: #FFF !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #F2F3F4;
}

#options nav ul li {
  padding: 0px 6px;
}

#options nav ul li a {
	font-size: 14px;
	font-weight: 400;
  color: #374551;
  padding: 0px 10px;
}

#options nav ul li a:hover {
  background: none !important;
  color: #02A4F5 !important;
}

/* Active */
#options nav ul li.active {
  background: none !important;
  height: 38px;
  line-height: 38px;
}

#options nav ul li.active a {
  color: #02A4F5 !important;
  font-weight: bold;
  margin-top: 4px;
  border-bottom: 4px solid #02A4F5;
}



/***************
      APP
****************/
.body { margin-top: 12px; }


/***************
      BOX
****************/
.box {
  background: #FFF !important;
  border-radius: 4px;
  border: 1px solid #E7E7E7;
  margin: 5px 0px 0px 0px;
}

.box-body {
  margin: 15px;
}

.box-title {
  color: #444E57;
  font-size: 14px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 5px;
  font-weight: bold;
  padding-bottom: 10px;
}

.box-title i {
  vertical-align: middle;
  font-size: 20px;
  padding-right: 5px;
  margin-left: 10px;
  color: #444E57;
}


/***************
    BOX CREATE
****************/
.box-create .subtitle span {
  font-weight: bold;
  color: #444E57;
  font-size: 14px;
}

.box-create .form {
  display: none;
}

.box-create .next {
  margin-top: 20px;
  text-align: center;
}

.box-create .btn {
	text-align: center;
  vertical-align: middle;
	height: 40px;
	font-size: 16px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: uppercase !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  width: 150px;
  background: #1ADB78;
}

.box-create .btn:hover {
  background: #24E582;
}

/* Square Toggle-btn */
.toggle-btn-grp {
  text-align: center;
}

.toggle-btn {
  padding: 5px;
  width: 110px;
  text-align: center;
  border-radius: 4px;
  display:inline-block;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #C2CDD1 !important;
  color: #AEB8BE;
}

.toggle-btn i {
  font-size: 50px;
  color: #C2CDD1;
}

.toggle-btn span { font-size: 14px; }
.toggle-btn span i { display: none; }

.toggle-btn:hover {
  border: 2px solid #016394 !important;
  background: rgba(208, 239, 255, 0.1);
  color: #016394;
}

.toggle-btn:hover i { color: #016394; }

/* Square Toggle-btn success */
.toggle-btn.success {
  border: 2px solid #016394 !important;
  background: rgba(208, 239, 255, 0.2);
  color: #016394;
}

.toggle-btn.success:hover { background: rgba(208, 239, 255, 0.3); }
.toggle-btn.success i { color: #016394; }

.toggle-btn.success span i {
  background: #1ADB78;
  padding: 3px;
  color: #FFF;
  border-radius: 50%;
  display: block;
  font-size: 14px;
  font-weight: bold;
  float: right;
  top: 0;
  margin-left: -20px;
}


/***************
   BOX NOTHING
****************/
.box-nothing {
  text-align: center;
  padding: 100px 0px;
  margin-bottom: 10px;
}

.box-nothing i {
  color: #E8E9EB;
  font-size: 80px;
  margin: 10px 0px;
  padding-bottom: 0px;
}

.box-nothing h5 {
  color: #6A727D;
  margin: 0px;
}

.box-nothing p {
  color: #B2B7Be;
  font-weight: 400;
}

.box-nothing .btn {
  text-align: center;
  vertical-align: middle;
	height: 34px;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  margin: 15px 0px;
  background: #02A4F5 !important;
}

.box-nothing .btn:hover {
  background: #21B4FD !important;
}


/***************
  BOX CONTENT
****************/
.box-content {
  padding: 20px 0px;
}

.box-content .collection {
  border: 1px solid transparent !important;
}

.box-content .collection .collection-item {
  background-color: #FFF;
  margin-bottom: 6px;
  border-radius: 3px;
  border-bottom: 1px solid #E7E7E7;
}

.box-content .collection .collection-item.avatar img {
  position: absolute;
  width: 70px !important;
  height: 60px !important;
  border-radius: 2px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.box-content .collection .collection-item.avatar span.title {
  margin-left: 30px;
  text-transform: capitalize;
  color: #2A3036;
  font-weight: 500;
}

.box-content .collection .collection-item.avatar p.second {
  margin-left: 28px;
  text-transform: capitalize;
}

.box-content .collection .collection-item.avatar p.second span.category {
  padding: 2px 10px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 500;
}

.box-content .collection .collection-item.avatar p.second span.category.space  {
  border: 2px solid #FF4967;
  color: #FF4967;
}

.box-content .collection .collection-item.avatar span.tird {
  margin-left: 30px;
  font-size: 12px;
  color: #6F7E8E;
}

div.secondary-content a i {
  color: #6F7E8E;
  font-size: 16px;
}

span.lil-title {
  font-weight: bold;
}

/***************
    MENU BOX
****************/
.menu {
  padding: 10px 0px;
  font-size: 14px;
}

.menu li {
  padding: 6px 0px;
  line-height: 23px;
  color: #2A3036;
  font-weight: 400;
  margin-top: 5px;
}

.menu li i {
  margin-left: 16px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 23px;
  vertical-align: middle;
}

.menu li.active {
  font-weight: 600;
  background: #E7E9EB;
}

.menu li:hover {
  background: #E7E9EB;
}

.menu li span {
  margin-right: 10px;
  float: right;
}

#app_extended .menu li {
  padding: 3px 0px;
}

#app_extended .menu li i {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 18px;
}


/***************
    INFO BOX
****************/
.info {
  margin: 5px 0px 0px 0px;
  position: relative;
  background: #FFF;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
}

.info-body {
  padding: 2px 20px;
  text-align: center;
}

.info-body h4, .info-body h5 {
  margin: 0px;
  color: #2A3036;
}

.info-body img {
  width: 110px;
  margin-top: 30px;
  margin-bottom: 20px;
}
