/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  background: #F6F8FA !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/*
* Todo
* - Media helpers
*/

/* Footer */
footer.page-footer {
  margin-top: 10px;
  padding-top: 20px;
  color: #212B3A;
  background-color: #212B3A;
}

/* Foot */
footer.page-footer .foot.container { width: 90%; }
footer.page-footer .foot h5 { color: #FFF; }
footer.page-footer .foot li a { color: #BCC3CB; }
footer.page-footer .foot li a:hover { color: #E8EBED; }
footer.page-footer .foot li { margin-bottom: 5px; }
footer.page-footer .foot .img { padding: 40px 0px 0px 0px; }
footer.page-footer .foot img { width: 300px; }

/* Footer Copyright */
footer.page-footer .footer-copyright span { color: red; }
footer.page-footer .footer-copyright a { color: #BCC3CB; }

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  color: #BCC3CB;
  font-size: 13px;
  background-color: #1A222D;
  font-weight: 500;
}

/***************
  MAIN NAVBAR
****************/
#main nav {
  background: #02A4F5 !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
}

#main nav ul li a {
	font-size: 13px;
	font-weight: 600;
  color: #FFF;
  padding: 0 10px;
}

#main nav ul li a:hover {
  background: none !important;
}

/* LEFT */
#main nav ul.left {
  display: table;
  margin: 0 auto;
}

#main nav ul.left li a img {
  vertical-align: middle;
  width: 180px;
  margin-left: 20px;
}

/* RIGHT */
#main nav ul.right {
  margin-right: 20px;
  vertical-align: middle;
}

#main nav ul.right .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0rem;
	height: 34px;
	font-size: 12px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

#main nav .right .btn-start {
  color: #FFF;
  background: #028ACE !important;
  width: 140px;
}

#main nav .right .btn-start i {
  font-size: 20px !important;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 15px;
  margin-right: -5px;
}

#main nav .right .btn-start:hover {
  background: #0297E1 !important;
}

#main nav .right .btn-reg {
  color: #FFF;
  background: #028ACE !important;
  width: 100px;
}

#main nav .right .btn-reg:hover {
  background: #0297E1 !important;
}

/* Nav-options */
#main nav .right span {
  font-weight: 600;
  text-transform: capitalize;
}

#main nav .right img {
  width: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 6px;
}

#main nav .right i {
  font-size: 20px;
  margin-left: 5px;
}

.dropdown-content {
  min-width: 150px;
}

.dropdown-content li {
  min-height: 40px !important;
  line-height: 40px !important;
}

.dropdown-content li:hover {
  background: #FAF6FE !important;
}

.dropdown-content li > a {
  font-size: 13px !important;
  color: #505050 !important;
  font-weight: normal !important;
  line-height: 40px !important;
  margin-left: 16px;
}

/***************
 OPTIONS NAVBAR
****************/
#options .navbar-fixed {
  z-index: 997;
}

#options nav {
  background: #FFF !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #F2F3F4;
}

#options nav ul li {
  padding: 0px 6px;
}

#options nav ul li a {
	font-size: 14px;
	font-weight: 400;
  color: #374551;
  padding: 0px 10px;
}

#options nav ul li a:hover {
  background: none !important;
  color: #02A4F5 !important;
}

/* Active */
#options nav ul li.active {
  background: none !important;
  height: 38px;
  line-height: 38px;
}

#options nav ul li.active a {
  color: #02A4F5 !important;
  font-weight: bold;
  margin-top: 4px;
  border-bottom: 4px solid #02A4F5;
}

/* Underline Reveal */
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #02A4F5;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*******************
    BOX SETTINGS
********************/
.body .container {
  width: 85%; /* Media here*/
}

.box {
  background: #FFF !important;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #DDDFE2;
}

.box-body {
  margin: 15px 20px;
}

.box-title {
  color: #374551;
  font-size: 14px;
  border-bottom: 1px solid #DDDFE2;
  margin-bottom: 5px;
  font-weight: bold;
  padding-bottom: 10px;
}

.box-title i.material-icons {
  float: left;
  font-size: 20px;
  padding-right: 5px;
  margin-left: 10px;
  color: #374551;
}

/*******************
   PROFILE SETTINGS
********************/
/*
#edit {
  padding: 20px 10px 20px 40px;
}

#edit .left { text-align: right; }
#edit .right { text-align: left; }
#edit .left span {
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
}

#edit .left span i {
  vertical-align: middle;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  color: #4DB771;
}

#edit .right img {
  width: 100%;
  border-radius: 6px;;
}

#edit .btn {
 border: none;
 border-radius: 4px;
 display: inline-block;
 height: 32px;
 line-height: 32px;
 padding: 0 15px;
 text-transform: capitalize;
 vertical-align: middle;
 box-shadow: none !important;
 -webkit-box-shadow:none !important;
}

#edit .btn-upload {
  font-size: 13px !important;
  border: 1px solid #DDDFE2;
  font-weight: 500;
  color: #374551;
  background: #F3F4F7;
}

#edit .btn-save {
  background: #33C96F;
  color: #FFF;
  width: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

#edit .btn-save i {
  font-size: 19px !important;
  color: #FFF;
}

#edit .btn-upload:hover {
  background: #E4E6ED;
}

#edit .btn-save:hover {
  background: #2FB966;
}
*/
/***************
  ALERT BOXES
****************/
.alert-box {
  border-radius: 4px;
  padding: 6px 10px 6px 20px;
  max-width: 400px;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.alert-box span {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.alert-box i {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 5px;
}

.alert-box a.close i {
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}

/* Error */
.error {
  background: #FEF5F5;
  border: 1px solid #EF2427;
  color: #EF2427;
  vertical-align: middle;
}

.error a.close i {
  color: #EF2427;
}

/* Success */
.success {
  color: #07B63E;
  background: #F8FFFA;
  border: 1px solid #07B63E;
  vertical-align: middle;
}

.success a.close i {
  color: #07B63E;
}

/***************
   INFO BOXES
****************/
/*
.info {
	position: relative;
	background: #F7F8FA;
  border-radius: 6px;
	border-left: 7px solid #E4E5E7;
}

.info-body {
  padding: 2px 20px;
  text-align: center;
}*/

.info {
  margin: 5px 0px 0px 0px;
  position: relative;
  background: #FFF;
  border: 1px solid #DDDFE2;
}

.info-body {
  padding: 2px 20px;
  text-align: center;
}

.info-body h4 {
  margin: 0px;
}

.info-body img {
  width: 110px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*******************
      POSTS
********************/
#create_form {
  padding: 0px 20px;
}

#new {
  margin: 20px 0px;
}

#new .container {
  width: 90%;
}

div.option {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin: 20px;
  padding: 12px;
  text-align: center;
  border: 2px solid #DDDFE2;
  background: #FFF;
  border-radius: 4px;
  cursor: pointer;
  color: #D2D5D9;
  font-weight: bold;
}

div.option i {
  font-size: 50px;
  color: #D2D5D9;
}

div.option.active i {
  color: #02A4F5;
  font-size: 50px;
}

div.option.active span  {
  color: #02A4F5;
}

div.active {
  border: 3px solid #02A4F5;
  background: #FFF;
  border-radius: 4px;
  color: #02A4F5;
}

div.bat:hover {
  background: #FFF;
}

#place .options {
  margin-top: 15px;
  margin-bottom: 0px;
}

#place .row {
  margin-bottom: 0px;
}

#place .btn {
  border: none;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 30px;
  text-transform: capitalize;
  vertical-align: middle;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

#place .btn-save {
  background: #02A4F5;
  color: #FFF;
  vertical-align: middle;
}

#place .btn-save:hover {
  background: #0297E2;
}

#place .left { text-align: right; }
#place .right { text-align: left; }

#place .left span {
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
}

#place .option input {
  display: none;
}

#place .option {
  width: 100px;
  height: 90px;
  font-size: 14px;
}

#place .option i {
  font-size: 40px;
}

#place .input {
  margin-left: 20px;
  width: 80%;
}

#place .next {
 padding: 30px 80px 0px 0px;
}

#place h5 {
  vertical-align: middle;
  padding-top: 25px;
  text-align: center;
}

#place h5 i {
  font-size: 26px;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 5px;
}

/* Forms */
select {
  background: #F5F5F5;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  height: 2rem;
  line-height: 2rem;
  font-size: 13px;
  padding-left: 10px;
}

select:active {
  border: 1px solid #C1C5CB;
}

p.label {
  font-weight: 500;
  font-size: 13px;
}

/* Input - Placeholder */
::-webkit-input-placeholder { color: #44565B; }
:-moz-placeholder { /* Firefox 18- */ color: #44565B; }
::-moz-placeholder { /* Firefox 19+ */  color: #44565B; }
:-ms-input-placeholder { color: #44565B; }

/* Input - Before
input[type=text],
input[type=email],
input[type=password] {
  background: #F5F5F5 !important;
  border: 1px solid #E1E1E1;
  width: 410px;
  border-radius: 4px;
  height: 2rem !important;
  outline: none;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 10px;
}*/

/* Input - Focus *//*
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]) {
  border: 1px solid #C1C5CB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Textarea *//*
textarea {
  height: 2rem;
}

textarea.materialize-textarea {
  padding: 0;
  min-height: 2rem;
  font-size: 13px;
  padding-left: 10px;
  width: 420px;
}

textarea.materialize-textarea {
  background-color: #F5F5F5 !important;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  height: 2rem;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #C1C5CB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/

/* Input - Before */
input[type=text] {
  background: #F5F5F5 !important;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  height: 2rem !important;
  outline: none;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  margin-top: 0px;
}

/* Input - Focus */
input[type=text]:focus:not([readonly]) {
  border: 1px solid #C1C5CB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* PRICE */
.price-box {
  background: #21B4FD !important;
  height: auto;
  padding: 0px 10px 10px 0px;
  border-radius: 4px;
}

.price-box h5 { color: #FFF; }
.price { padding: 0px 20px 10px 20px; }

/* Input - Placeholder */
.price-box ::-webkit-input-placeholder { font-size: 14px; color: #FFF; }
.price-box :-moz-placeholder { font-size: 14px; /* Firefox 18- */ color: #FFF; }
.price-box ::-moz-placeholder { font-size: 14px; /* Firefox 19+ */  color: #FFF; }
.price-box :-ms-input-placeholder { font-size: 14px; color: #FFF; }

/* Input - Before */
.price-box .price input[type=text] {
  background: none !important;
  border: 1px solid #21B4FD;  border-bottom: 3px solid #FFF;
  color: #FFF;
  border-radius: 4px;
  height: 2.3rem !important;
  outline: none;
  font-size: 25px;
  font-weight: 400;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0px;
  text-align: center;
}

/* Input - Focus */
.price-box input[type=text]:focus:not([readonly]) {
  border: 1px solid #21B4FD;
  border-bottom: 3px solid #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/************
 BOX NOTHING
*************/
.box-nothing {
  text-align: center;
  padding: 50px 0px;
  margin-bottom: 10px;
}

.box-nothing i {
  color: #DDDFE2;
  font-size: 92px;
  padding-bottom: 0px;
}

.box-nothing h5 {
  color: #6A727D;
  margin: 0px;
}

.box-nothing p {
  color: #B2B7Be;
  font-weight: 400;
}

.box-nothing .btn {
  text-align: center;
  vertical-align: middle;
	height: 34px;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  margin: 15px 0px;
  /* background: #1A8AF3 !important; */
  background: #02A4F5 !important;
}

.box-nothing .btn:hover {
  background: #0297E2;
}

/************
    PLACES
*************/
.myplaces {
  width: 90%;
  margin: 0 auto;
}

/* Place Box */
.place-box .row,
.place-box .col  {
  margin: 0px !important;
  padding: 0px !important;
}

.place-box {
  background: #FFF !important;
  border-radius: 3px;
  padding: 0px;
  height: 200px;
  border: 1px solid #DDDFE2;
}

/**
 * Place Box - Left
 **/
.place-box img {
  width: 100% !important;
  height: 199px;
  border-radius: 4px;
  border-bottom: 1px solid #DDDFE2;
}

.place-box .img .change {
  margin-top: -90px;
  margin-left: -7px;
  padding: 0px;
  position: absolute;
}

.place-box .img .change .btn {
  padding: 0px 12px;
  font-size: 13px;
  text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  background: #1CCC54 !important;
}

.place-box .img .change .btn:hover { background: #1edd5b !important; }

/**
 * Place Box - Center
 **/
/* Top */
.place-box .top {
  padding: 10px 10px 0px 20px !important;
}

.place-box .top .first {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 0px;
  color: #9DA3AC;
  padding-bottom: 0px;
}

.place-box .top .second {
  padding: 0px !important;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 22px;
}

.place-box .top .third {
  font-size: 12px;
}

.place-box .top .third span {
  border-radius: 4px;
  padding: 6px 15px;
  background: #02A4F5;
  color: #FFF;
}
/* Middle */
.place-box .middle {
  vertical-align: middle;
  color: #5D6C78;
  padding: 0px 0px 0px 20px !important;
}

/* Bottom */
.place-box .bottom {
  text-align: center;
  vertical-align: middle;
}

.place-box .bottom i {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.place-box .bottom .boxy {
  border-right: 1px solid #DDDFE2;
}

.place-box .bottom .tag {
  font-weight: 300;
  border-right: 1px solid #DDDFE2;
}

/**
 * Place Box - Right
 **/
.place-box .price {
  text-align: center;
}

.place-box .price-body {
  margin: 18px 0px 10px 0px;
  border-left: 1px solid #DDDFE2;
}

.place-box .price-body h5 {
  font-size: 35px;
}

.place-box .price-body p.second {
  font-size: 20px;
  margin: 0px !important;
  padding: 0px !important;
}

.place-box .price-body p.third {
  font-size: 12px;
  margin: 0px !important;
  padding: 0px !important;
}

.place-box .price .btn {
  padding: 0px 25px;
  font-size: 13px;
  text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  background: #3B4C60 !important;
}


/*
#place .container {
  width: 70%;
}

.place-box {
  padding: 15px;
}

.place-box img {
  width: 100%;
}

.place-box h5 {
  padding: 0px;
  margin: 0px !important;
}
*/
