/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  background: #ECEEF1 !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/*
* Todo
* - Media helpers
*/

/***************
  MAIN NAVBAR
****************/
#main nav {
  background: #2D72D9 !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
}

#main nav ul li a {
	font-size: 13px;
	font-weight: 600;
  color: #FFF;
  padding: 0 10px;
}

#main nav ul li a:hover {
  background: none !important;
}

/* LEFT */
#main nav ul.left {
  display: table;
  margin: 0 auto;
}

#main nav ul.left li a img {
  vertical-align: middle;
  width: 180px;
  margin-left: 20px;
}

/* RIGHT */
#main nav ul.right {
  margin-right: 20px;
  vertical-align: middle;
}

#main nav ul.right .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0rem;
	height: 34px;
	font-size: 12px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

#main nav .right .btn-start {
  color: #FFF;
  background: #205BB3 !important;
  width: 140px;
}

#main nav .right .btn-start i {
  font-size: 20px !important;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 15px;
  margin-right: -5px;
}

#main nav .right .btn-start:hover {
  background: #2363C4 !important;
}

#main nav .right .btn-reg {
  color: #FFF;
  background: #205BB3 !important;
  width: 100px;
}

#main nav .right .btn-reg:hover {
  background: #2363C4 !important;
}

/* Nav-options */
#main nav .right span {
  font-weight: 600;
  text-transform: capitalize;
}

#main nav .right img {
  width: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 6px;
}

#main nav .right i {
  font-size: 20px;
  margin-left: 5px;
}

.dropdown-content {
  min-width: 120px;
}

.dropdown-content li {
  min-height: 40px !important;
  line-height: 40px !important;
}

.dropdown-content li:hover {
  background: #FAF6FE !important;
}

.dropdown-content li > a {
  font-size: 13px !important;
  color: #505050 !important;
  font-weight: normal !important;
  line-height: 40px !important;
  margin-left: 16px;
}

/***************
 OPTIONS NAVBAR
****************/
#options .navbar-fixed {
  z-index: 997;
}

#options nav {
  background: #FFF !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
}

#options nav ul li {
  padding: 0px 6px;
}

#options nav ul li a {
	font-size: 14px;
	font-weight: 400;
  color: #374551;
  padding: 0px 10px;
}

#options nav ul li a:hover {
  background: none !important;
  color: #2D72D9 !important;
}

/* Active */
#options nav ul li.active {
  background: none !important;
  height: 38px;
  line-height: 38px;
}

#options nav ul li.active a {
  color: #2D72D9 !important;
  font-weight: bold;
  margin-top: 4px;
  border-bottom: 4px solid #2D72D9;
}

/* Underline Reveal */
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2D72D9;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*******************
    BOX SETTINGS
********************/
.body .container {
  width: 85%; /* Media here*/
}

.box {
  background: #FFF !important;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #DDDFE2;
}

.box-body {
  margin: 15px 20px;
}

.box-title {
  color: #374551;
  font-size: 14px;
  border-bottom: 1px solid #DDDFE2;
  margin-bottom: 5px;
  font-weight: bold;
  padding-bottom: 10px;
}

.box-title i.material-icons {
  float: left;
  font-size: 20px;
  padding-right: 5px;
  margin-left: 10px;
  color: #374551;
}

/*******************
   PROFILE SETTINGS
********************/
#edit {
  padding: 20px 10px 20px 40px;
}

#edit .left { text-align: right; }
#edit .right { text-align: left; }
#edit .left span {
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
}

#edit .left span i {
  vertical-align: middle;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  color: #4DB771;
}

#edit .right img {
  width: 100%;
  border-radius: 6px;;
}

#edit .btn {
 border: none;
 border-radius: 4px;
 display: inline-block;
 height: 32px;
 line-height: 32px;
 padding: 0 15px;
 text-transform: capitalize;
 vertical-align: middle;
 box-shadow: none !important;
 -webkit-box-shadow:none !important;
}

#edit .btn-upload {
  font-size: 13px !important;
  border: 1px solid #DDDFE2;
  font-weight: 500;
  color: #374551;
  background: #F3F4F7;
}

#edit .btn-save {
  background: #33C96F;
  color: #F8F8F8;
  width: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

#edit .btn-save i {
  font-size: 19px !important;
  color: #FFF;
}

/***************
  ALERT BOXES
****************/
.alert-box {
  border-radius: 4px;
  padding: 6px 10px 6px 20px;
  max-width: 400px;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.alert-box span {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.alert-box i {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 5px;
}

.alert-box a.close i {
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}

/* Error */
.error {
  background: #FEF5F5;
  border: 1px solid #EF2427;
  color: #EF2427;
  vertical-align: middle;
}

.error a.close i {
  color: #EF2427;
}

/* Success */
.success {
  color: #07B63E;
  background: #F8FFFA;
  border: 1px solid #07B63E;
  vertical-align: middle;
}

.success a.close i {
  color: #07B63E;
}

/***************
   INFO BOXES
****************/
.info {
  background: #FFF !important;
  border-radius: 8px;
}

.info-body {
  padding: 0px 20px;
  text-align: center;
}

/*******************
      POSTS
********************/
#create_form {
  padding: 5px 12px;
}

div.option {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin: 20px;
  padding: 12px;
  text-align: center;
  border: 2px solid #DDDFE2;
  background: #FFF;
  border-radius: 4px;
  cursor: pointer;
  color: #DDDFE2;
  font-weight: bold;
}

div.option i {
  font-size: 50px;
  color: #DDDFE2;
}

div.option.active i {
  color: #2D72D9;
  font-size: 50px;
}

div.option.active span  {
  color: #2D72D9;
}

div.active {
  border: 3px solid #2D72D9;
  background: #FFF;
  border-radius: 4px;
  color: #2D72D9;
}

div.bat:hover {
  background: #FFF;
}
