/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }
body { display: flex; min-height: 100vh; flex-direction: column; }
main { flex: 1 0 auto; }

/*
* Todo
* - Media helpers
*/

.panel img {
  width: 250px;
}

.panel {
  background: none !important;
	width: 450px; /*Media helper here*/
	margin: 0 auto;
	vertical-align: middle;
  /*border: 1px solid red;*/ /*Debuggin */
}

.panel img { margin-bottom: 10px; }

#register { padding: 40px 20px 0px 20px; }
#login { padding: 80px 20px 0px 20px; }
#password { padding: 100px 0px 0px 0px; }

.panel .container {
  width: 80%; /*Media helper here*/
}

.panel-submit {
  margin: 0 auto;
  margin-left: 15px;
  padding-top: 15px;
}

.panel-options {
  padding-top: 20px;
}

.panel-options a {
  color: #44565B;
}

.panel-options strong {
  /*color: #0071EB;*/
  font-weight: bold;
}

/* Background img */
.footer img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: -1;
}

/*************
  FORM FIELDS
**************/
.input-field {
  margin: 5px;
}

/* Input - Placeholder */
::-webkit-input-placeholder { color: #44565B; }
:-moz-placeholder { /* Firefox 18- */ color: #44565B; }
::-moz-placeholder { /* Firefox 19+ */  color: #44565B; }
:-ms-input-placeholder { color: #44565B; }

/* Input - Before */
input[type=text],
input[type=email],
input[type=password] {
  background: #F3F4F7 !important;
  border: 1px solid #F3F4F7;
  border-radius: 4px;
  padding: 1px 0px 1px 15px;
  height: 32px !important;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Input - Focus */
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]) {
  border: 1px solid #C1C5CB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Input - Checkbox */
form p {
  margin: 0px;
}

/* Checkbox - Label */
[type="checkbox"] + label {
  color: #44565B;
}

/* Checkbox - Before + label */
[type="checkbox"] + label:before {
  border: 2px solid #3B444C;
}

/* Checkbox - Checked */
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #0071EB;
	border-bottom: 2px solid #0071EB;
}

/*************
    ALERT
**************/
.alert-content, .alert-content a {
  font-size: 13px;
  color: #44565B;
}

.error-box,
.success-box {
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.error-title,
.success-title {
  font-size: 16px;
}

.error-title i,
.success-title i {
	font-size: 25px;
	margin-right: 3px;
	vertical-align: middle;
	margin-bottom: 3px;
}

/*************
    ERROR
**************/
.error-box {
  border: 2px solid #FF0000;;
  color: #FF0000;
}

.error-title,
.error-title i {
  color: #FF0000;
}

/*************
    SUCCESS
**************/
.success-box {
  border: 2px solid #3AB54A;
  color: #3AB54A;
}

.success-title,
.success-title i {
  color: #3AB54A;
}

/*************
    BUTTONS
**************/
.btn-submit {
	width: 95%;
	background: #0071EB;
	color: #F8F8F8;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  text-transform: uppercase;
	box-shadow: none; -webkit-box-shadow:none;
}

.btn-submit:hover, .btn-submit:focus {
	background: #057DFF !important;
  box-shadow: none; -webkit-box-shadow:none;
}
