/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

.panel img {
  width: 270px;
  margin-bottom: 15px;
}

.panel {
  background: none !important;
	width: 420px;
	margin: 0 auto;
	vertical-align: middle;
  padding: 20px 0px 30px 0px;
}

.panel .container {
  width: 80%;
}

.panel-submit {
  margin: 0 auto;
  margin-left: 15px;
  padding-top: 12px;
}

.panel-social {
  margin: 0 auto;
  margin-left: 15px;
  padding-top: 12px;
}

.panel-options {
  padding-top: 20px;
}

.panel-options a {
  color: #44565B;
}

.panel-options strong {
  font-weight: bold;
}

/* Background img */
.auth-img img {
  position: relative;
  height: auto;
  z-index: -999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*************
  FORM FIELDS
**************/
.input-field {
  margin: 5px;
}

/* Input - Placeholder */
::-webkit-input-placeholder { color: #44565B; }
:-moz-placeholder { /* Firefox 18- */ color: #44565B; }
::-moz-placeholder { /* Firefox 19+ */  color: #44565B; }
:-ms-input-placeholder { color: #44565B; }

/* Input - Before */
input[type=text],
input[type=email],
input[type=password] {
  background: #F3F4F7 !important;
  border: 1px solid #F3F4F7;
  border-radius: 4px;
  padding: 1px 0px 1px 15px;
  height: 32px !important;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Input - Focus */
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]) {
  border: 1px solid #C1C5CB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Input - Checkbox */
form p {
  margin: 0px;
}

form p label a {
  font-weight: bold;
}

/* Checkbox - Label */
[type="checkbox"] + label {
  color: #44565B;
}

/* Checkbox - Before + label */
[type="checkbox"] + label:before {
  border: 2px solid #3B444C;
}

/* Checkbox - Checked */
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #0071EB;
	border-bottom: 2px solid #0071EB;
}

/*************
    ALERT
**************/
.alert-content, .alert-content a {
  font-size: 13px;
  color: #44565B;
}

.error-box,
.success-box {
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.error-title,
.success-title {
  font-size: 16px;
}

.error-title i,
.success-title i {
	font-size: 25px;
	margin-right: 3px;
	vertical-align: middle;
	margin-bottom: 3px;
}

/*************
    ERROR
**************/
.error-box {
  border: 2px solid #FF0000;;
  color: #FF0000;
}

.error-title,
.error-title i {
  color: #FF0000;
}

/*************
    SUCCESS
**************/
.success-box {
  border: 2px solid #3AB54A;
  color: #3AB54A;
}

.success-title,
.success-title i {
  color: #3AB54A;
}

/*************
    BUTTONS
**************/
/* General */
.btn-submit, .btn-facebook, .btn-google {
  width: 100%;
  color: #FFF;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  -webkit-box-shadow:none;
}

.btn-submit { text-transform: uppercase; }
.btn-facebook, .btn-google { text-transform: capitalize; }

/* Colors */
.btn-submit {	background: #02A4F5; }
.btn-facebook { background: #3C66C4; }
.btn-google { background: #CF4332; }

/* Hover - Colors  */
.btn-submit:hover, .btn-submit:focus { background: #0297E1 !important; }
.btn-facebook:hover, .btn-facebook:focus { background: #375EB5 !important; }
.btn-google:hover, .btn-google:focus { background: #C03D2D !important; }

/* Hover - General */
.btn-submit:hover, .btn-submit:focus,
.btn-facebook:hover, .btn-facebook:focus,
.btn-google:hover, .btn-google:focus {
  box-shadow: none;
  -webkit-box-shadow:none;
}

/* Extra  */
.btn-submit { text-transform: capitalize !important; }
.btn-facebook span, .btn-google span { font-weight: 600; }
