/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  background: #EEEEEE !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/*
* Todo
* - Media helpers
*/

/***************
  INTRODUCTION
****************/
#intro {
  background: #1A8AF3;
}

#intro img {
  vertical-align: middle;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#intro h4 {
  color: #FFF;
  font-size: 60px;
}

#intro p.second {
  color: #FFF;
  font-size: 25px;
  margin: 20px 0px 0px 0px;
}

/* Background img */
#intro .back {
  margin-bottom: -20px;
  margin-top: -80px;
}

#intro .back img {
  width: 1000px;
  z-index: -1;
  border-bottom: 2px solid #2571BA;
}


/***************
     BLOG
****************/
.box {
  margin: 0 auto;
  background: #FFF;
  min-height: 100vh;
  margin-bottom: -10px;
  margin-top: -80px;
  width: 80%;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.box .right {
  padding: 20px;
}

.box .right a {
  color: #1A8AF3;
  margin: 0px 10px;
}

.box .right a.active {
  background: #1A8AF3;
  border-radius: 2px;
  font-weight: bold;
  color: #FFF;
  padding: 10px;
}

.box-body {
  padding: 40px 80px 40px 80px;
  color: #3B444C;
  text-align: justify;
}

.box-body ul strong {
  margin-right: 5px;
  font-weight: 600;
}

.box-body ul li {
  margin-bottom: 10px;
}

.box-body h4 {
  margin-top: 40px;
}

/***************
     FOOTER
****************/
/* Foot */
#foot {
  background: #FFF;
  background-size: 200px;
  background-repeat: repeat;
  padding: 30px 0px 40px 0px;
  display: inline-block;
}

#foot h4 {
  color: #3B444C;
  font-size: 40px;
  font-weight: 400;
}

#foot p.second {
  color: #5D6C78;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px 30px 0px;
}

#foot .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0px 20px;
	height: 34px;
	font-size: 13px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

#foot .btn-reg {
  color: #FFF;
  background: #EF1C3F !important;
  border: 1px solid #F2415E;
}

#foot .btn-reg:hover {
  background: #F12F4E !important;
}

#foot .btn-read {
  color: #5D6C78;
  background: #FFF !important;
  font-weight: 400;
  border: 1px solid #B1BAC2;
}

#foot .btn-read:hover {
  background: #F5F5F5 !important;
}

#foot span {
  margin: 0px 20px;
  color: #5D6C78;
  font-size: 16px;
  font-weight: 400;
}

/* Footer */
footer.page-footer {
  margin-top: -10px;
  padding-top: 20px;
  color: #212B3A;
  background-color: #212B3A;
}

/* Foot */
footer.page-footer .foot.container { width: 90%; }
footer.page-footer .foot h5 { color: #FFF; }
footer.page-footer .foot li a { color: #BCC3CB; }
footer.page-footer .foot li a:hover { color: #E8EBED; }
footer.page-footer .foot li { margin-bottom: 5px; }
footer.page-footer .foot .img { padding: 40px 0px 0px 0px; }
footer.page-footer .foot img { width: 300px; }

/* Footer Copyright */
footer.page-footer .footer-copyright span { color: red; }
footer.page-footer .footer-copyright a { color: #BCC3CB; }

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  color: #BCC3CB;
  font-size: 13px;
  background-color: #1A222D;
  font-weight: 500;
}
