/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  background: #EDEFED !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/* Navbar */
@media only screen and (min-width: 800px) {
  nav {
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  nav a.button-collapse {
    display: none;
  }

	nav ul li a #img {
		width: 180px;
		vertical-align: middle;
		margin-left: 20px;
	}

  nav ul li a #img2 {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    background: #FFF !important;
  }

  nav a.button-collapse i {
		color: #5A7178;
		font-size: 30px;
		margin-left: 15px;
	}

	nav .right {
		display: none;
	}

	nav ul.logo {
		display: table;
		margin: 0 auto;
	}

  nav ul li a #img {
    display: none;
  }

  nav ul li a #img2 {
		width: 200px;
		vertical-align: middle;
		margin-left: -20px !important;
	}
}

nav ul.right {
  margin-right: 20px;
  vertical-align: middle;
}

nav ul li a:hover { background: none !important; }

nav ul li a {
	font-size: 13px !important;
	font-weight: 600;
  color: #FFF;
  padding: 0 10px;
}

nav ul.right .btn {
	text-align: center;
	padding: 0rem;
	width: 120px;
	height: 34px;
	font-size: 12px !important;
	font-weight: 600;
	border-radius: 4px;
	text-transform: capitalize !important;
}

nav ul.right .btn-primary {
  background: rgba(255, 255, 255, 0.2);
	color: #FFF;
	margin-right: 6px;
}

nav ul.right .btn-secundary {
  background: none !important;
  color: #FFF;
  border: 2px solid #FFF;
  line-height: 34px;
}

nav ul.right .btn-primary:hover {	background: rgba(255, 255, 255, 0.3) !important; }
nav ul.right .btn-secundary:hover { background: none !important; }

/*************
     HOME
**************/
#home {
  background: url("/img/welcome.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
}

#home #welcome {
	padding: 15vh 0 0;
	text-align: center;
	margin: 0;
	overflow: hidden;
	position: relative;
}

#home #welcome h1 {

  color: #FFF;
  margin-bottom: 8px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#home #welcome h5 {
  margin-top: 0px;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 800px) {
  #home #welcome h1 {
    font-size: 38px;
  }
}

#home #welcome .btn-primary {
  text-align: center;
	font-weight: 600;
	border-radius: 2px;
	text-transform: capitalize !important;
  background: #0071EB;
	color: #FFF;
  margin-top: 30px;
}

#home #welcome .btn-primary:hover { background: #057DFF !important; }
