/*************
   SETTINGS
**************/
/* General */
* { box-sizing: border-box; }

body {
  background: #FFF !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/*
* Todo
* - Media helpers
*/

/***************
  MAIN NAVBAR
****************/
#main nav {
  /*background: #FFF !important;*/
  background: none !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
}

#main nav ul li a {
	font-size: 13px;
	font-weight: 500;
  color: #44565B;
  padding: 0 10px;
}

#main nav ul li a:hover {
  background: none !important;
}

/* LEFT */
#main nav ul.left {
  display: table;
  margin: 0 auto;
}

#main nav ul.left li a img {
  vertical-align: middle;
  width: 180px;
  margin-left: 20px;
}

/* RIGHT */
#main nav ul.right {
  margin-right: 20px;
  vertical-align: middle;
}

#main nav ul.right .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0rem;
	height: 34px;
	font-size: 12px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

#main nav .right .btn-start {
  color: #FFF;
  background: #0A86F7 !important;
  width: 140px;
}

#main nav .right .btn-start i {
  font-size: 20px !important;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 15px;
  margin-right: -5px;
}

#main nav .right .btn-start:hover {
  background: #087CE6 !important;
}

#main nav .right .btn-reg {
  color: #FFF;
  background: #0A86F7 !important;
  width: 100px;
}

#main nav .right .btn-reg:hover {
  background: #087CE6 !important;
}

/* Nav-options */
#main nav .right span {
  font-weight: 500;
  text-transform: capitalize;
}

#main nav .right img {
  width: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 6px;
}

#main nav .right i {
  font-size: 20px;
  margin-left: 5px;
}

.dropdown-content {
  min-width: 120px;
}

.dropdown-content li {
  min-height: 40px !important;
  line-height: 40px !important;
}

.dropdown-content li:hover {
  background: #FAF6FE !important;
}

.dropdown-content li > a {
  font-size: 13px !important;
  color: #505050 !important;
  font-weight: normal !important;
  line-height: 40px !important;
  margin-left: 16px;
}

/***************
      HOME
****************/
#home {
  height: 90vh;
}

/* Box */
#box {
  padding: 70px 0px 0px 20px;
  width: 650px;
  text-align: center;
}

#box h1 {
  color: #3B444C;
  padding: 0px;
  margin: 0px;
  margin-bottom: 18px;
}

#box p {
  color: #4C5862;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 3px;
}

/* Box Form */
#box form {
  width: 450px;
  margin-top: 30px;
}

#box form .input-field {
  display: inline;
}

#box form .btn {
  height: 36px !important;
  width: 100%;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #0A86F7 !important;
  border-radius: 4px;
}

#box form .btn:hover {
  background: #087CE6 !important;
}

#box form .btn i {
  vertical-align: middle;
  font-size: 18px;
}

/* Input - Placeholder */
::-webkit-input-placeholder { color: #798997; }
:-moz-placeholder { /* Firefox 18- */ color: #798997; }
::-moz-placeholder { /* Firefox 19+ */  color: #798997; }
:-ms-input-placeholder { color: #798997; }

/* Input - Before */
input[type=text] {
  background: #F3F4F7 !important;
  border-bottom: 2px solid #F3F4F7;
  border-radius: 4px;
  padding: 1px 0px 1px 15px;
  height: 32px !important;
  outline: none;
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Input - Focus */
input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #D6D9DD;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#box .divider {
  width: 100px;
  margin: 0 auto;
  background: #D2D7DC;
  margin-bottom: 25px;
}

#box span {
  color: #4C5862;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#box span a {
  color: #0A86F7;
}

/* Underline Reveal */
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #087CE6;
  height: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Background img */
.footer img {
  position: absolute;
  width: 78%;
  height: auto;
  margin-top: -360px;
  right: 0;
  z-index: -1;
  border-bottom: 2px solid #B5B9BB;
}
