/*******************
  GENERAL SETTINGS
*******************/
/* Page-Foot */
.page-foot {
  padding: 10px 3px 0px 3px;
  display: inline-block;
}

.page-foot h4 {
  color: #2A3036;
  font-size: 40px;
  font-weight: 400;
}

.page-foot p {
  color: #444E57;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px 30px 0px;
}

.page-foot .btn {
	text-align: center;
  vertical-align: middle;
	padding: 0px 20px;
	height: 34px;
	font-size: 13px !important;
	font-weight: 500;
  font-weight: bold;
	border-radius: 4px;
	text-transform: capitalize !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

.page-foot .btn-reg {
  color: #FFF;
  background: #EF1C3F !important;
}

.page-foot .btn-reg:hover {
  background: #E71034 !important;
}

.page-foot .btn-read {
  color: #3B444C;
  font-weight: 400;
  background: #F3F4F7 !important;
  border: 1px solid #E7E7E7;
}

.page-foot .btn-read:hover {
  background: #E7E7E7 !important;
}

.page-foot span {
  margin: 0px 20px;
  color: #444E57;
  font-size: 16px;
  font-weight: 400;
}

/* Background img */
.back {
  margin-bottom: -30px;
  margin-top: 0px;
}

.back img {
  width: 100%;
}

/*******************
    SITE SECTIONS
*******************/
/* Home */
#home {
  height: 100vh;
}

#home .box-search {
  padding-top: 15vh;
  text-align: center;
}

#home .box-search h1 {
  color: #2A3036;
  padding: 0px;
  margin: 0px;
  margin-bottom: 18px;
}

#home .box-search p.first {
  color: #444E57;
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

#home .box-search p.second {
  color: #444E57;
}

#home .box-search .divider {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 3vh;
}

#home .foot-img img {
  position: absolute;
  height: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding-bottom: 0px;
  border-bottom: 2px solid #D2D7DC;
  margin-bottom: 5px;
}

/* Form */
#home .box-search form {
  margin-top: 4vh;
}

#home .box-search form .btn {
  height: 36px !important;
  width: 100%;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #02A4F5 !important;
  border-radius: 4px;
}

#home .box-search form .btn:hover {
  background: #0297E1 !important;
}

#home .box-search form .btn i {
  vertical-align: middle;
  font-size: 22px;
  margin-right: 5px;
}

/* Form - Input - Placeholder */
#home .box-search form ::-webkit-input-placeholder { color: #798997; }
#home .box-search form :-moz-placeholder { /* Firefox 18- */   color: #798997; }
#home .box-search form ::-moz-placeholder { /* Firefox 19+ */   color: #798997; }
#home .box-search form :-ms-input-placeholder {  color: #798997; }

/* Form - Input - Before */
#home .box-search form input[type=text] {
  background: #F3F4F7 !important;
  border-radius: 4px;
  border-bottom: 3px solid #E7E7E7;
  height: 32px !important;
  outline: none;
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 15px;
}

/* Form - Input - Focus */
#home .box-search form input[type=text]:focus:not([readonly]) {
  border-bottom: 3px solid #CBCFD4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
